<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aserbao.aserbaolibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activity.AserbaoActivity">
        </activity>
        <activity android:name=".activity.Dagger2Activity">
        </activity>
        <activity android:name=".activity.Mp4Activity">
        </activity>
        <activity android:name=".activity.ResideActivity">
        </activity>
    </application>

</manifest>